<div id="<%= dom_id subject_matter %>">
  <p>
    <strong>Name:</strong>
    <%= subject_matter.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= subject_matter.description %>
  </p>

</div>
