<h1>Editing subject matter</h1>

<%= render "form", subject_matter: @subject_matter %>

<br>

<div>
  <%= link_to "Show this subject matter", @subject_matter %> |
  <%= link_to "Back to subject matters", subject_matters_path %>
</div>
