<h1>Editing student chat fragment</h1>

<%= render "form", student_chat_fragment: @student_chat_fragment %>

<br>

<div>
  <%= link_to "Show this student chat fragment", @student_chat_fragment %> |
  <%= link_to "Back to student chat fragments", student_chat_fragments_path %>
</div>
